<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ldq.emu.dao.PayMethodMapper">
  <resultMap id="BaseResultMap" type="com.ldq.emu.entity.PayMethod">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="pay_method" jdbcType="VARCHAR" property="payMethod" />
  </resultMap>
  <sql id="Base_Column_List">
    id, pay_method
  </sql>
  <select id="payCombobox" resultMap="BaseResultMap">
  	select * from paymethod
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from paymethod
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from paymethod
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ldq.emu.entity.PayMethod">
    insert into paymethod (id, pay_method)
    values (#{id,jdbcType=INTEGER}, #{payMethod,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ldq.emu.entity.PayMethod">
    insert into paymethod
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="payMethod != null">
        pay_method,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="payMethod != null">
        #{payMethod,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ldq.emu.entity.PayMethod">
    update paymethod
    <set>
      <if test="payMethod != null">
        pay_method = #{payMethod,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ldq.emu.entity.PayMethod">
    update paymethod
    set pay_method = #{payMethod,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>